
:root {
	--font-size-base: 20px;

	--color-primary:#1D2423;
	--color-secondary:#FEF9F9;
	--color-tertiary:#090909;

	--border: 6rem;
	--bacground-img: url('src/bilde3.jpg');

	--spacing-small: 0.5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;

}